<br>
<h2>UPDATE PLAYER: <%= @player.name %></h2>
<fieldset>
  <form action="/players/<%= @player.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit Username:</label>
    <input type="text" name="player[username]" value="<%= @player.username %>"><br>
    <label>Edit Email:</label>
    <input type="text" name="player[email]" value="<%= @player.email %>"><br>
    <label>Edit password:</label>
    <input type="text" name="player[password]" value="<%= @player.password %>"><br>
    <label>Edit Name:</label>
    <input type="text" name="player[name]" value="<%= @player.name %>"><br>
    <label>Edit age:</label>
    <input type="number" name="player[age]" value="<%= @player.age %>"><br>
    <label>Edit birthdate:</label>
    <input type="date" name="player[birthdate]" value="<%= @player.birthdate %>">
</fieldset>
    <br>
     <br>
  <h2>ASSOCIATE AN EXISTING CHARACTER:</h2>
  <fieldset>
  <% @characters.each do |character| %>
  <% if !!character.player_id == true %>
  
  <% elsif character == nil %>
  
  <% else %>
    <input type="checkbox" name="player[character_ids][]" id="<%= character.id %>" value="<%= character.id %>"><%= character.character_name %><br>
  <% end %>
  <%end%>
  </fieldset>
  <br>
    <input type="submit" value="Update Player">
  </form>