<h2>Player Info:</h2>
  <div class="player">
    <h3>Name: <%= @player.name %></h3>
    <h4>Username: <%= @player.username %></h3>
    <h4>Email: <%= @player.email %></h3>
  </div><br>
  <h2>Player's Characters:</h2>
  <ul>
    <%@player.characters.each do |character|%>
    
    <li><a href="/character/<%= character.id %>"><%=character.character_name%> the <%=character.character_race.capitalize%>  <%=character.character_class.capitalize%></a></li>
    <%end%>
  </ul><br>
  
 